.rating {
  display: flex; /* Alinha os itens horizontalmente */
  align-items: center;
  gap: 0.5rem; /* Espaço entre as estrelas */
  }
  
  .rating input[type=radio]{
    display: none;
  }
  .star{
    cursor: pointer;
    font-size: 2rem;
    color: yellow;
  }
  
    