.rating {
  display: flex; /* Alinha os itens horizontalmente */
  align-items: center;
  gap: 0.5rem; /* Espaço entre as estrelas */
}

.rating input[type=radio] {
  display: none;
}

.star {
  font-size: 1rem;
  color: yellow;
}

.title {
  font-size: 1.5rem;
}
