.card{
    width: 300px;
    border-radius: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.image{
    width: 100%;
    height: 50%;
    background: url("./../../assets/tecpic.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.username{
    color: #012F59;
    font-size: 1.3rem;
    font-weight: 500;
}
.divisoria1{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-top: 2rem;
}
.divisoria{
    width: 100%;
    height: 1px;
    background-color: #ccc;
}
.avaliacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #012F59;
}
.stars{
    color: yellow;
    font-size: 2.5rem;
    display: flex;

}
.start{
    margin-right: -.3rem;
}
.avNum{
    font-size: 1.4rem;
    font-weight: 300;
}