.app{
    background-color: #fff;
    width: 100%;
    border-radius: 2rem;
    padding: 1.5rem 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.h3foggy{
    color: rgba(1, 47, 89,.7);
}
.h3{
    color: #012F59;
}
.row1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.5rem;
    color: #012F59;
}
.row2{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    gap: 1.5rem;
}
.subRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.4rem;
}