.app{
    width: 100%;
    padding: 2rem;
}
.square{
    background-color: #F0F0F0;
}

.row1{
    display: flex;
    width: 100%;
    padding: 3rem;
    margin-top: -10rem;
    gap: 2rem;
    justify-content: space-between;
}
.row2{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    gap: 2rem;
}
.row3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    gap: 2rem;
}
.row4{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    gap: 2rem;
}

.foggyBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    z-index: 10; /* Certifique-se de que está acima dos elementos, mas abaixo do ContainerChange */
  }


@media (max-width:550px) {
    .app{
        padding: .5rem;
    }
    
}