.app{
    background-color: #fff;
    width: 100%;
    border-radius: 2rem;
    padding: 1.5rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.row1{
    color: rgb(1, 47, 89);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
}
.h3foggy{
    color: rgba(1, 47, 89,.7);
    font-weight: 500;
}
.contentRow{
    display: flex;
    justify-content: space-between;
}
.itens{
    display: flex;
    font-size: 1.4rem;
    color: #012F59;
    font-weight: 500;
    align-items: center;
    gap: .2rem;
}