.app{
    width: 100%;
    border-radius: 2rem;
    padding: 1.5rem 2rem 5rem;
    background-color: #fff;
    color: #012F59;
}
.row1{
    display: flex;
    justify-content: space-between;
}
.row2,
.row1{
    padding: 1rem 0;
}