.containerPerfil{
    display: flex;
    padding: 2rem;
    gap: 1rem;
    justify-content: center;
}
.banner{
    width: 100%;
    height: 20vh;
}
.banner img{
    width: 100%;
    height: 100%;

}
.collumn2{
    display: flex;
    flex-direction: column;
    object-fit: cover;
}