.app{
    height: 100%;
    width: 100%;
    display: flex;
}
.aside{
    width: 23%;
    height: 100vh;
}
.asideClose{
    width: calc(6% + 5px);
    height: 100vh;
}
.content{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;

}