.content{
    color: #012F59;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
}
.homeContainer{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}
.title{
    color: #012F59;
}
.alert{
    color: red;
}